body {
    background-color: #377c88;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;      

}
#weather-container {
    background-color: rgb(255, 255, 255, 0.3);
    max-width: 400px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
h2, label, p {
    color: #fff;
    padding: 0;
}
input {
    width: calc(100% - 16px);
    padding: 8px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
button {
    background-color: #debff4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100px;
}
button:hover {
    background-color: #d1a3e0;
}
#weather-info {
    font-size: 18px;
}
#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}
#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}
#hourly-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
}
.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}
.hourly-item img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
#hourly-heading {
    margin-top: 10px;
    color: #fff;
}